<a href="https://colab.research.google.com/github/BorseGaurav95/BorseGaurav95/blob/main/Data_generation_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: faker in /usr/local/lib/python3.8/dist-packages (15.3.4)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.8/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)

In [ ]:
pip install sdv

In [ ]:
from faker import Faker
from google.cloud import bigquery
data = {}
fake = Faker()
from shapely import Point, LineString

import json

class Object:
    def toJSON(self):
        return json.dumps(self, default=lambda o: o.__dict__, 
            sort_keys=True, indent=4)

import shapely.geometry
import shapely.wkt

from google.oauth2 import service_account
credentials = service_account.Credentials.from_service_account_file(
'/content/wwbq-cartos1.json')

project_id = 'wwbq-cartos1'
table_id = "wwbq-cartos1.Test_DG.d"

client = bigquery.Client(credentials= credentials,project=project_id)

query_job = client.query("""
   SELECT column_name 
   FROM wwbq-cartos1.Test_DG.INFORMATION_SCHEMA.COLUMNS
    where table_name = 'd'
    """)

results = query_job.result()

col_name=[]
for row in results:
  col_name.append(row.column_name) 

col_name
arr_len=len(col_name)
for i in range(10):
    for j in range(arr_len):  
       col_name1 = col_name[j]
       if((col_name1=='latitude') or (col_name1=='longitude')):
          col_data = "fake."+col_name1+'()'
          data[col_name1.title()] = float(eval(col_data))
       else:   
         
          
          data[col_name1.title()] = str(Point(
          [float(fake.latitude()), float(fake.latitude())]))
                                                        
       rows_to_insert = [data]
       #print(rows_to_insert)          
    
       
    errors = client.insert_rows_json(table_id, rows_to_insert)  # Make an API request.
    if errors == []:
      print("1 new row has been added.")
    else:
      print("Encountered errors while inserting rows: {}".format(errors))

In [ ]:
#V0

In [ ]:
import random as r
import base64
from datetime import datetime
from dateutil import parser
from faker import Faker
from google.cloud import bigquery
from tqdm import tqdm

data = {}
fake = Faker()
count = 0

input_table=input("Enter BigQuery table name = ")
n_record=int(input("Enter record count = "))

from google.oauth2 import service_account
credentials = service_account.Credentials.from_service_account_file(
'/content/wwbq-cartos1.json')

project_id = 'wwbq-cartos1'
table_id = "wwbq-cartos1.Test_DG."+input_table

client = bigquery.Client(credentials= credentials,project=project_id)

query_job = client.query("""
   SELECT column_name 
   FROM wwbq-cartos1.Test_DG.INFORMATION_SCHEMA.COLUMNS
    where table_name = '""" + input_table + """'
    """)


results = query_job.result()

col_name=[]
for row in results:
  col_name.append(row.column_name) 

col_name
arr_len=len(col_name)
Faker.seed(99)
for i in range(n_record):
    for j in range(arr_len):  
       col_name1 = col_name[j]
  
       if((col_name1=='latitude') or (col_name1=='longitude')):
          col_data = "fake."+col_name1+'()'
          data[col_name1.title()] = float(eval(col_data))
       elif((col_name1=='phone_number')):
          # col_data = "fake."+col_name1+'()'
          # data[col_name1.title()] = eval(col_data)
          ph_no=[]
          ph_no.append(r.randint(6, 9))  
          for i in range(1, 10):
              ph_no.append(r.randint(0, 9))
          res = str("".join(map(str, ph_no)))
          data[col_name1.title()] = res
       elif((col_name1=='zip')):
          col_data = "fake."+col_name1+'()'
          byte_ch = base64.b64encode(bytes(str(eval(col_data)), 'utf-8'))
          data[col_name1.title()] = byte_ch.decode('utf-8')
       elif((col_name1=='date_time')):
          col_data = "fake."+col_name1+'()'
          str_date=str(eval(col_data))
          data[col_name1.title()] = str_date
          #data[col_name1.title()] = parser.parse(str_date)
          #print(data[col_name1.title()])
          #data[col_name1.title()] =  datetime.strptime(str_date, '%')
       elif((col_name1=='pydecimal')):
          col_data = "fake."+col_name1+'()'
          big_num=str(eval(col_data))
          data[col_name1.title()] = big_num
       elif((col_name1=='latlng')):
          data[col_name1.title()] = str(
          [float(fake.latitude()), float(fake.latitude())])
         
       else:   
          col_data = "fake."+col_name1+'()'
          data[col_name1.title()] = eval(col_data)
       rows_to_insert = [data]
    # print(rows_to_insert)
       
    errors = client.insert_rows_json(table_id, rows_to_insert)  # Make an API request.
    count=count+1
    if errors == []:
      pass
    else:
      print("Encountered errors while inserting rows: {}".format(errors))
      break
for i in tqdm(range(count), desc="Loading..."):
      pass

Enter BigQuery table name = geo_data
Enter record count = 10
Encountered errors while inserting rows: [{'index': 0, 'errors': [{'reason': 'invalid', 'location': 'latlng', 'debugInfo': '', 'message': "Cannot convert value [18.4420385, 12.207507] to GEOGRAPHY: Unexpected '[' at position 0."}]}]

Loading...: 100%|██████████| 1/1 [00:00<00:00, 739.48it/s]

In [ ]:
#V1

In [ ]:
import random as r
import base64
from datetime import datetime
from dateutil import parser
from faker import Faker
from google.cloud import bigquery
from tqdm import tqdm
from google.oauth2 import service_account
from shapely.geometry import Point, LineString, Polygon



json_file_path=""
print("-------------------------------------------------------------------")
json_file_path=input("Enter GCP Service account Json key file path = ") 
print("-------------------------------------------------------------------")
input_table=input("Enter BigQuery table name (Project_id.Dataset_name.Table_name) = ")
print("-------------------------------------------------------------------")
n_record=int(input("Enter record count = "))
print("-------------------------------------------------------------------")


credentials = service_account.Credentials.from_service_account_file(
json_file_path)

tb_name=input_table.split(".")
project_id = tb_name[0]
dataset_id = tb_name[1]
table_id = tb_name[2]

client = bigquery.Client(credentials= credentials,project=project_id)

query_job = client.query("""
   SELECT column_name 
   FROM """ + project_id + """.""" + dataset_id + """.INFORMATION_SCHEMA.COLUMNS
    where table_name = '""" + table_id + """'
    """)


results = query_job.result()

col_name=[]

for row in results:
  col_name.append(row.column_name) 

arr_len=len(col_name)

data = {}
count = 0

fake = Faker()
Faker.seed(99)

for i in range(n_record):
    for j in range(arr_len):  
       col_name1 = col_name[j]
  
       if((col_name1=='latitude') or (col_name1=='longitude')):
          col_data = "fake."+col_name1+'()'
          data[col_name1.title()] = float(eval(col_data))
       elif((col_name1=='phone_number')):
          # col_data = "fake."+col_name1+'()'
          # data[col_name1.title()] = eval(col_data)
          ph_no=[]
          ph_no.append(r.randint(6, 9))  
          for i in range(1, 10):
              ph_no.append(r.randint(0, 9))
          res = str("".join(map(str, ph_no)))
          data[col_name1.title()] = res
       elif((col_name1=='zip')):
          col_data = "fake."+col_name1+'()'
          byte_ch = base64.b64encode(bytes(str(eval(col_data)), 'utf-8'))
          data[col_name1.title()] = byte_ch.decode('utf-8')
       elif((col_name1=='date_time')):
          col_data = "fake."+col_name1+'()'
          str_date=str(eval(col_data))
          data[col_name1.title()] = str_date
          #data[col_name1.title()] = parser.parse(str_date)
          #print(data[col_name1.title()])
          #data[col_name1.title()] =  datetime.strptime(str_date, '%')
       elif((col_name1=='pydecimal')):
          col_data = "fake."+col_name1+'()'
          big_num=str(eval(col_data))
          data[col_name1.title()] = big_num
       elif((col_name1=='latlng')):
          data[col_name1.title()] = str(Point(
          [float(fake.longitude()), float(fake.latitude())]))
       elif((col_name1=='big_num')):
          data[col_name1.title()] = r.uniform(-5.7896044618658097711785492504343953926634992332820282019728792003956564819968E+38,5.7896044618658097711785492504343953926634992332820282019728792003956564819968E+38)
       elif((col_name1=='record_data')):
          data[col_name1.title()] = record = {'name': str(fake.name()), 'age': r.randint(1, 99), 'gender':r.choice(['male','female'])}

       else:   
          col_data = "fake."+col_name1+'()'
          data[col_name1.title()] = eval(col_data)
       rows_to_insert = [data]
    # print(rows_to_insert)
       
    errors = client.insert_rows_json(input_table, rows_to_insert)  # Make an API request.
    count=count+1
    if errors == []:
      pass
    else:
      print("Encountered errors while inserting rows: {}".format(errors))
      break
for i in tqdm(range(count), desc="Loading..."):
      pass

-------------------------------------------------------------------
Enter GCP Service account Json key file path = /content/wwbq-cartos1.json
-------------------------------------------------------------------
Enter BigQuery table name (Project_id.Dataset_name.Table_name) = wwbq-cartos1.Test_DG.b
-------------------------------------------------------------------
Enter record count = 10
-------------------------------------------------------------------

Loading...: 100%|██████████| 10/10 [00:00<00:00, 79588.31it/s]

In [ ]:
#V2

{'name': 'John', 'age': 30, 'gender': 'male'}

In [ ]:
import random as r
import base64
from datetime import datetime
from dateutil import parser
from faker import Faker
from google.cloud import bigquery
from tqdm import tqdm
from google.oauth2 import service_account
from shapely.geometry import Point



json_file_path=""
print("-------------------------------------------------------------------")
json_file_path=input("Enter GCP Service account Json key file path = ") 
print("-------------------------------------------------------------------")
input_table=input("Enter BigQuery table name (Project_id.Dataset_name.Table_name) = ")
print("-------------------------------------------------------------------")
n_record=int(input("Enter record count = "))
print("-------------------------------------------------------------------")


credentials = service_account.Credentials.from_service_account_file(
json_file_path)

tb_name=input_table.split(".")
project_id = tb_name[0]
dataset_id = tb_name[1]
table_id = tb_name[2]

client = bigquery.Client(credentials= credentials,project=project_id)

query_job = client.query("""
   SELECT column_name 
   FROM """ + project_id + """.""" + dataset_id + """.INFORMATION_SCHEMA.COLUMNS
    where table_name = '""" + table_id + """'
    """)


results = query_job.result()

col_name=[]

for row in results:
  col_name.append(row.column_name) 

arr_len=len(col_name)

data = {}
count = 0

fake = Faker()
Faker.seed(99)

for i in range(n_record):
    for j in range(arr_len):  
       col_name1 = col_name[j]
  
       if((col_name1=='latitude') or (col_name1=='longitude')):
          col_data = "fake."+col_name1+'()'
          data[col_name1.title()] = float(eval(col_data))
       elif((col_name1=='phone_number')):
          # col_data = "fake."+col_name1+'()'
          # data[col_name1.title()] = eval(col_data)
          ph_no=[]
          ph_no.append(r.randint(6, 9))  
          for i in range(1, 10):
              ph_no.append(r.randint(0, 9))
          res = str("".join(map(str, ph_no)))
          data[col_name1.title()] = res
       elif((col_name1=='zip')):
          col_data = "fake."+col_name1+'()'
          byte_ch = base64.b64encode(bytes(str(eval(col_data)), 'utf-8'))
          data[col_name1.title()] = byte_ch.decode('utf-8')
       elif((col_name1=='date_time')):
          col_data = "fake."+col_name1+'()'
          str_date=str(eval(col_data))
          data[col_name1.title()] = str_date
          #data[col_name1.title()] = parser.parse(str_date)
          #print(data[col_name1.title()])
          #data[col_name1.title()] =  datetime.strptime(str_date, '%')
       elif((col_name1=='pydecimal')):
          col_data = "fake."+col_name1+'()'
          big_num=str(eval(col_data))
          data[col_name1.title()] = big_num
       elif((col_name1=='latlng')):
          data[col_name1.title()] = str(Point(
          [float(fake.longitude()), float(fake.latitude())]))
       elif((col_name1=='big_num')):
          data[col_name1.title()] = r.uniform(-5.7896044618658097711785492504343953926634992332820282019728792003956564819968E+38,5.7896044618658097711785492504343953926634992332820282019728792003956564819968E+38)
       elif((col_name1=='record_data')):
          data[col_name1.title()] = record = {'name': str(fake.name()), 'age': r.randint(1, 99), 'gender':r.choice(['male','female'])}

       else:   
          col_data = "fake."+col_name1+'()'
          data[col_name1.title()] = eval(col_data)
       rows_to_insert = [data]
    # print(rows_to_insert)
       
    errors = client.insert_rows_json(input_table, rows_to_insert)  # Make an API request.
    count=count+1
    if errors == []:
      pass
    else:
      print("Encountered errors while inserting rows: {}".format(errors))
      break
for i in tqdm(range(count), desc="Loading..."):
      pass

-------------------------------------------------------------------
Enter GCP Service account Json key file path = /content/wwbq-cartos1.json
-------------------------------------------------------------------
Enter BigQuery table name (Project_id.Dataset_name.Table_name) = wwbq-cartos1.Test_DG.time
-------------------------------------------------------------------
Enter record count = 10
-------------------------------------------------------------------

Loading...: 100%|██████████| 10/10 [00:00<00:00, 6892.86it/s]

In [ ]:
wwbq-cartos1.Test_DG.geo_data
wwbq-cartos1.Test_DG.b
wwbq-cartos1.Test_DG.time

In [ ]:
from faker import Faker
import pandas as pd
from google.cloud import bigquery
from tqdm import tqdm
import sdv 

data = {}
fake = Faker()
count = 0

input_table=input("Enter BigQuery table name = ")
#n_record=int(input("Enter record count = "))

from google.oauth2 import service_account
credentials = service_account.Credentials.from_service_account_file(
'/content/wwbq-cartos1.json')

project_id = 'wwbq-cartos1'
table_id = "wwbq-cartos1.Test_DG."+input_table

client = bigquery.Client(credentials= credentials,project=project_id)

query_job = client.query("""
   SELECT column_name 
   FROM wwbq-cartos1.Test_DG.INFORMATION_SCHEMA.COLUMNS
    where table_name = '""" + input_table + """'
    """)


results = query_job.result()

col_name=[]
for row in results:
  col_name.append(row.column_name) 

col_name
arr_len=len(col_name)
for i in range(100):
    for j in range(arr_len):  
       col_name1 = col_name[j]
       if((col_name1=='latitude') or (col_name1=='longitude')):
          col_data = "fake."+col_name1+'()'
          data[col_name1.title()] = float(eval(col_data))
       else:   
          col_data = "fake."+col_name1+'()'
          data[col_name1.title()] = eval(col_data)
       rows_to_insert = [data]
    # print(rows_to_insert)
       
    errors = client.insert_rows_json(table_id, rows_to_insert)  # Make an API request.
    count=count+1
    if errors == []:
      pass
    else:
      print("Encountered errors while inserting rows: {}".format(errors))
      break
for i in tqdm(range(count), desc="Loading..."):
      pass



target_data = client.query("""
   SELECT *
   FROM `wwbq-cartos1.Test_DG.""" + input_table + """`
   """).to_dataframe()

target_data.to_csv('/test_date.csv',header=True, index=False)

sdv_input_data = pd.read_csv('/test_date.csv')


from sdv.tabular import CopulaGAN

model = CopulaGAN()
model.fit(sdv_input_data)

Enter BigQuery table name = AB
Enter record count = 10

Loading...: 100%|██████████| 10/10 [00:00<00:00, 71697.50it/s]

In [ ]:
sample = model.sample(10000000)
sample

                     name                                            address
0         Cynthia Jackson    3234 Jackson Place\nSouth Carolynside, PW 21642
1              Kyle Smith       372 Nicholas Way\nLake Andreamouth, VI 34534
2             Mary Gamble  552 Russell Isle Apt. 834\nMcdowellmouth, NM 5...
3        Benjamin Burgess  0416 Jimenez Streets Apt. 599\nNorth Jonton, V...
4             Joyce Novak                   762 Lee Run\nWest Ryan, OR 32416
...                   ...                                                ...
9999995      Victoria Orr       372 Nicholas Way\nLake Andreamouth, VI 34534
9999996        David Mann       372 Nicholas Way\nLake Andreamouth, VI 34534
9999997    Richard Miller                   PSC 7524, Box 5439\nAPO AP 36140
9999998        Terry Odom                   PSC 7524, Box 5439\nAPO AP 36140
9999999        Terry Odom         58795 Connie Overpass\nNew Bryan, PW 01518

[10000000 rows x 2 columns]

In [ ]:
sample.to_csv('/date_gen.csv')

NameError: ignored

In [ ]:
  
ph_no = []
  

print(res)

7160820099